<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div layout:fragment="content">
    <form action="/members/new" method="POST"
          th:object="${memberFormDto}" enctype="multipart/form-data">
        <div class="form-group">
            <label th:for="memNm">이름</label>
            <input type="text" th:field="*{memNm}"
                   class="form-control" placeholder="이름을 입력하세요">
            <p th:if="${#fields.hasErrors('memNm')}"
               th:errors="*{memNm}" class="fieldError">부적절한 데이터</p>
        </div>

        <div class="form-group">
            <label th:for="memBirthDt">생년월일</label>
            <input type="number" th:field="*{memBirthDt}"
                   class="form-control" placeholder="생년월일을 입력하세요">
            <p th:if="${#fields.hasErrors('memBirthDt')}"
               th:errors="*{memBirthDt}" class="fieldError">부적절한 데이터</p>
        </div>

        <div class="form-group">
            <label th:for="memCno">전화번호</label>
            <input type="number" th:field="*{memCno}"
                   class="form-control" placeholder="전화번호를 입력하세요">
            <p th:if="${#fields.hasErrors('memCno')}"
               th:errors="*{memCno}" class="fieldError">부적절한 데이터</p>
        </div>
        <div class="form-group">
            <label th:for="memAdr">주소</label>
            <input type="text" th:field="*{memAdr}"
                   class="form-control" placeholder="주소를 입력하세요">
            <p th:if="${#fields.hasErrors('memAdr')}"
               th:errors="*{memAdr}" class="fieldError">부적절한 데이터</p>
        </div>
        <div class="form-group">
            <label th:for="memEmlAdr">이메일 주소</label>
            <input type="text" th:field="*{memEmlAdr}"
                   class="form-control" placeholder="이메일을 입력하세요">
            <p th:if="${#fields.hasErrors('memEmlAdr')}"
               th:errors="*{memEmlAdr}" class="fieldError">부적절한 데이터</p>
        </div>
        <div class="form-group">
            <label th:for="memRgtDt">등록날짜</label>
            <input type="text" th:field="*{memRgtDt}"
                   class="form-control" placeholder="이메일을 입력하세요">

        </div>

        <div th:if="${#strings.isEmpty(memberFormDto.memId)}" >
            <button th:formaction="@{/members/admin/new}"
                    type="submit" class="btn btn-primary">저장</button>
        </div>
        <div th:unless="${#strings.isEmpty(memberFormDto.memId)}">
            <button th:formaction="@{'/members/admin/member/'+ ${memberFormDto.memId}}"
                    type="submit" class="btn btn-primary">수정</button>
        </div>
    </form>

    <hr class="my-4">
    <hr class="my-4">

    <div th:unless="${#strings.isEmpty(memberFormDto.memId)}">

        <hr class="my-4">
        <hr class="my-4">

      <form th:action="@{'facilities'}"
          method="post" th:object="${facilitySearchDto}">
          <input type="hidden" name="memId" th:value="${memberFormDto.memId}">
        <div class="row">
            <th:block th:each="facility, status: ${facilities.getContent()}">
                <div class="col-md-4 margin">
                    <div class="card">
                        <a th:href="'/facility/facility/'+${facility.facilityId}" class="text-dark" id="card-FID" th:value="${facility.facilityId}">
                            <div class="card-body">
                                <h2 class="card-title" id="facilityNm" >[[${facility.facilityNm}]]</h2>
                                <p class="card-text" id="facilityClCd" >[[${facility.facilityClCd}]]</p>
                                <h4 class="card-title" id="facilityPrice">[[${facility.facilityPrice}]]원</h4>
                                <h4 class="card-title" id="facilityTerm">[[${facility.facilityTerm}]]</h4>
                            </div>
                        </a>
                        <div >
                            <button type="submit"
                                    th:formaction="@{'/members/admin/member/'+${memberFormDto.memId}+'/input/'+${facility.facilityId}}">등록</button>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <div th:with="start=${(facilities.number/maxPage)*maxPage+1},end=( ${(facilities.totalPages == 0) ? 1:
           (start+(maxPage - 1) < facilities.totalPages ? start+(maxPage - 1) : facilities.totalPages)
            })">
            <ul class="pagination justify-content-center">
                <li class="page-facility" th:classappend="${facilities.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${facilities.number-1} +')'"
                       aria-label="Previous" class="page-link">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
                <li class="page-facility"
                    th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${facilities.number eq page-1} ? 'active' : '' ">
                    <a th:onclick="'javascript:page(' + ${page-1} + ')' "
                       th:inline="text" class="page-link">[[${page}]]</a>
                </li>
                <li class="page-facility" th:classappend="${facilities.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${facilities.number+1} +')'"
                       aria-label="Next" class="page-link">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="form-inline justify-content-center">
            <select th:field="*{searchBy}" class="form-control" style="width:auto">
                <option value="facilityClCd">이용권 코드</option>
                <option value="facilityNm">이용권 이름</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력하세요"/>
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>

      </form>
    </div>
</div>

</body>
</html>