html{
    position:relative;
    min-height:100%;
    margin:0;
}
body{
    min-height:100%;
}
.footer{
    background: gray;
    position:absolute; left:0; right:0; bottom:0;
    width:100%; text-align: center;
}
.content{
    margin:50px;
}