/* .test {
    border: 1px solid red;
}
.test-f {
    background: gray;
} */


/* .container {
    display: flex;
    margin: auto;
} */

.card {
    margin: auto;
    padding: 5px;
    margin-bottom: 50px;
}

.card img {
    width: 150px;
    align-self: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #323070;
    font-weight: 700;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

/* // */

/* .input-group {
    width: 20%;
} */
/* .search {
    height: 100%;
}
.card-1 {
    display: flex;
} */
.search {
    width: 100%;
    padding: 20px;
    margin: auto;
    background: white;
    border-bottom: #4D4BAD;
}
.search::shadow{
    background: #323070;
}
.bg-body-tertiary {
    background-color: white;
}
.page-link {
    color: #4D4BAD;
    font-weight: 500;
}
/* li.page-item.disabled {
    background: red;
} */
.pagination{
    --bs-pagination-disabled-bg: #white;
}
.row {
    margin: 50px;
    padding-top: 100px;
}
.mb-3 {
    background: white;
    width: 400px;
    margin: auto;
}
.btn-light {
    border: 1px solid rgba(128, 128, 128, 0.418);
}